.hubWrapper {
  margin-top: 10.47rem;
  padding-bottom: 11.2rem;
  font-family: "grotesk-semibold", sans-serif;
  background-color: #fff;
}

.hubHeaderBox {
}

.hubHeader {
  font-size: 3.1rem;
  line-height: 4.1rem;
  letter-spacing: -0.01em;
  color: #161b2d;
  display: flex;
  justify-content: center;
  margin-bottom: 1.3rem;
}

.hubSubHeaderBox {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 8rem;
}

.hubSubHeader {
  font-size: 1.9rem;
  line-height: 3rem;
  color: #6b7c93;
  opacity: 0.8;
}

.hubSectionRowBox {
  font-family: "grotesk", sans-serif;
}

.hubSectionRowBox1 {
  display: flex;
  justify-content: space-around;
}

.transportBox {
  display: flex;
  margin-left: 10rem;
}

.transportImgBox {
  margin-right: 3.2rem;
}

.transportImg {
  width: 18.7rem;
  height: 15.1rem;
}

.transportTextBox {
}

.transportHeader {
  font-size: 2.1rem;
  line-height: 2.9rem;
  letter-spacing: -0.01em;
  color: #161b2d;
}

.transportText {
  font-size: 1.7rem;
  line-height: 2.7rem;
  color: #506690;
}

.transport2Box {
  display: flex;
  margin-right: 15rem;
}

.hubSectionRowBox2 {
  display: flex;
  justify-content: space-around;
  margin-top: 3.1rem;
}

.transport3Box {
  display: flex;
  margin-left: 10rem;
}

.transport4Box {
  display: flex;
  margin-right: 15rem;
}

.transport4ImgBox {
  margin-right: 4rem;
}

.transportTextBox4 {
  margin-right: -2.5rem;
}

/**********************MEDIA QUERY******************************/

@media all and (min-width: 75em) {
  .hubHeader {
    font-size: 4rem;
    margin-bottom: 3rem;
  }
  .hubSubHeader {
    font-size: 3rem;
    line-height: 5rem;
  }
}

/* 1300px */

@media all and (max-width: 81.25em) {
  .transportBox {
    margin-left: 5rem;
  }

  .transport2Box {
    margin-right: 1rem;
  }

  .transport3Box {
    margin-left: 5rem;
  }

  .transport4Box {
    margin-right: 1rem;
  }
}

@media all and (max-width: 75em) {
  .hubWrapper {
    padding-bottom: 4rem;
  }

  .transportBox {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .transportImgBox {
    margin-bottom: 2rem;
  }

  .transport2Box {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .transport2ImgBox {
    margin-bottom: 2rem;
  }

  .transport3Box {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .transport3ImgBox {
    margin-bottom: 2rem;
  }

  .transport4Box {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .transport4ImgBox {
    margin-bottom: 2rem;
  }
}

@media all and (max-width: 56.25em) {
  .hubHeader {
    font-size: 2.9rem;
  }

  .hubSubHeader {
    font-size: 1.7rem;
  }
}

@media all and (max-width: 37.5em) {
  .hubHeader {
    font-size: 2.5rem;
  }

  .hubSubHeader {
    font-size: 1.5rem;
  }
}

/* 700px */

@media all and (max-width: 43.75em) {
  .transportBox {
    margin-left: 0rem;
  }

  .transport2Box {
    margin-right: 0rem;
  }

  .transport3Box {
    margin-left: 0rem;
  }

  .transport4Box {
    margin-right: 0rem;
  }
}

@media all and (max-width: 37.5em) {
  .hubWrapper {
    padding-bottom: 3rem;
  }

  .hubSectionRowBox1 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hubSectionRowBox2 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

/* 520px */

@media all and (max-width: 32.5em) {
  .hubWrapper {
    padding-bottom: 4rem;
  }

  .hubWrapper {
    margin-top: 5rem;
  }

  .hubHeader {
    font-size: 1.2rem;
  }

  .hubSubHeader {
    font-size: 0.9rem;
  }
}

/* 300px */

@media all and (max-width: 18.75em) {
  .hubWrapper {
    padding-bottom: 4rem;
  }

  .transportText {
    font-size: 1.4rem;
  }
}
