.formWrapperTop {
  display: flex;
  justify-content: center;
  font-family: "grotesk-light", sans-serif;

  position: absolute;
  bottom: 60rem;
  left: 30%;
  z-index: 999;
}

.formWrapper {
  margin-top: 16rem;
  margin-bottom: 3rem;
  background-color: #fff;
  width: 60rem;
  height: auto;
  border-top: 2px solid #2856ed;
  box-shadow: 0px 24px 64px rgba(22, 27, 45, 0.04);
  padding-bottom: 4rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.formCentered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formImage {
  margin-bottom: 2rem;
}

.formText {
  font-size: 1.9rem;
  line-height: 2.3rem;
  color: #6b7c93;
  margin-bottom: 7.3rem;
}

.formBox {
}

.formRow1 {
  margin-bottom: 4.2rem;
}

.inputFirst {
  margin-right: 3.3rem;
  border: none;
  border-bottom: 1px solid #d7deef;
  padding-bottom: 0.5rem;
  outline: none;
  font-size: 1.7rem;
  line-height: 2.7rem;
}

.inputFirst::placeholder {
  font-size: 1.7rem;
  line-height: 2.7rem;
  color: #687c93;
  opacity: 0.8;
}

.inputUser {
  border: none;
  border-bottom: 1px solid #d7deef;
  padding-bottom: 0.5rem;
  outline: none;
  font-size: 1.7rem;
  line-height: 2.7rem;
}

.inputUser::placeholder {
  font-size: 1.7rem;
  line-height: 2.7rem;
  color: #687c93;
  opacity: 0.8;
  color: #db2f44;
}

.formRow2 {
  margin-bottom: 4.3rem;
}

.inputEmail {
  margin-right: 3.3rem;
  border: none;
  border-bottom: 1px solid #d7deef;
  padding-bottom: 0.5rem;
  outline: none;
  font-size: 1.7rem;
  line-height: 2.7rem;
}

.inputEmail::placeholder {
  font-size: 1.7rem;
  line-height: 2.7rem;
  color: #687c93;
  opacity: 0.8;
}

.inputPassword {
  border: none;
  border-bottom: 1px solid #d7deef;
  padding-bottom: 0.5rem;
  outline: none;
  font-size: 1.7rem;
  line-height: 2.7rem;
}

.inputPassword::placeholder {
  font-size: 1.7rem;
  line-height: 2.7rem;
  color: #687c93;
  opacity: 0.8;
}

.formBtn {
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #fff;
  width: 98%;
  height: 5rem;
  background-color: #2856ed;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

/*******************MEDIA QUERY********************/

/* 1030px */
@media all and (max-width: 64.375em) {
  .formWrapperTop {
    left: 10rem;
    right: 10rem;
  }
}

/* 670px */

@media all and (max-width: 41.875em) {
  .formWrapperTop {
    left: 2rem;
    right: 2rem;
  }
}

@media all and (max-width: 37.5em) {
  .formWrapperTop {
    display: flex;
    margin-bottom: -14rem;
    left: 0;
    right: 0;
    overflow: hidden;
  }

  .formImage {
  }

  .formHeader {
    /* font-size: 1rem; */
  }

  .formText {
    font-size: 1.3rem;
  }

  .formRow1 {
    display: flex;
    flex-direction: column;
  }

  .formRow2 {
    display: flex;
    flex-direction: column;
  }

  .inputFirst {
    margin-bottom: 5rem;
  }

  .inputUser {
    margin-bottom: 5rem;
  }

  .inputEmail {
    margin-bottom: 5rem;
  }

  .inputPassword {
    margin-bottom: 5rem;
  }
}
