.innovateWrapper {
  margin-top: 10.6rem;
  font-family: "grotesk-light", sans-serif;
  position: relative;
  width: auto;
  min-height: 73.6rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.innovateText {
  font-size: 3.1rem;
  line-height: 4.1rem;
  letter-spacing: -0.01em;
  color: #fff;

  position: absolute;
  top: 28.1rem;
  left: 21.7rem;
}

.innovateTextName {
  font-size: 1.2rem;
  line-height: 1.4rem;
  letter-spacing: 0.07em;
  color: #fff;
  opacity: 0.7;

  position: absolute;
  top: 46.5rem;
  left: 21.7rem;
}

.downPagebox {
  background-color: #fff;
  font-size: 1.5rem;
  color: #2856ed;
  border-radius: 5rem;
  width: 5rem;
  height: 5rem;
  box-shadow: 0px 8px 24px rgba(22, 27, 45, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: -2rem;

  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/**********************MEDIA QUERY******************************/

/* 1463px */
@media all and (max-width: 91.4375em) {
  .innovateWrapper {
    background-size: 100%;
  }

  .downPagebox {
    /* margin-bottom: -1rem; */
  }
}

/* 1412px */
@media all and (max-width: 88.25em) {
  .downPagebox {
    top: 98%;
  }
}

@media all and (max-width: 115.33em) {
  .downPagebox {
    top: 96%;
  }
}

@media all and (max-width: 84em) {
  .downPagebox {
    top: 92%;
  }
}

@media all and (max-width: 80em) {
  .downPagebox {
    top: 87%;
  }
}

@media all and (max-width: 75em) {
  .innovateWrapper {
    margin-bottom: -10rem;
  }

  .downPagebox {
    top: 82%;
  }
}

@media all and (max-width: 71.875em) {
  .downPagebox {
    top: 79%;
  }
}

@media all and (max-width: 68.3125em) {
  .downPagebox {
    top: 74%;
  }
}

@media all and (max-width: 66.75em) {
  .innovateWrapper {
    margin-bottom: -20rem;
  }

  .downPagebox {
    top: 73%;
  }
}

@media all and (max-width: 64.125em) {
  .innovateText {
    position: absolute;
    top: 24rem;
    left: 29rem;
    transform: translate(-50%, -50%);
  }

  .innovateTextName {
    position: absolute;
    top: 39rem;
    left: 8rem;
    transform: translate(-50%, -50%);
  }

  .downPagebox {
    top: 68%;
  }
}

@media all and (max-width: 64.0625em) {
  .downPagebox {
    top: 70%;
  }
}

@media all and (max-width: 60.125em) {
  .innovateWrapper {
    margin-bottom: -20rem;
  }

  .downPagebox {
    top: 66%;
  }
}

@media all and (max-width: 58.625em) {
  .downPagebox {
    top: 63%;
  }
}

@media all and (max-width: 53.6875em) {
  .downPagebox {
    top: 58%;
  }
}

@media all and (max-width: 49.875em) {
  .innovateWrapper {
    margin-bottom: -30rem;
  }

  .innovateText {
    font-size: 2rem;
    top: 20rem;
    left: 22rem;
  }

  .innovateTextName {
    top: 32rem;
    left: 9rem;
  }

  .downPagebox {
    top: 55%;
  }
}

@media all and (max-width: 46.25em) {
  .innovateWrapper {
    margin-bottom: -40rem;
  }

  .downPagebox {
    top: 48%;
  }
}

@media all and (max-width: 39.875em) {
  .innovateWrapper {
    margin-bottom: -40rem;
  }

  .innovateText {
    font-size: 1.5rem;
    top: 15rem;
    left: 13rem;
    line-height: 2.5rem;
  }

  .innovateTextName {
    top: 25rem;
    left: 5rem;
  }

  .downPagebox {
    top: 44%;
  }
}

@media all and (max-width: 36.56em) {
  .downPagebox {
    top: 36%;
  }
}

@media all and (max-width: 31.9375rem) {
  .innovateText {
    font-size: 1.5rem;
    top: 10rem;
    left: 13rem;
    line-height: 2.5rem;
  }

  .innovateTextName {
    top: 18rem;
    left: 5rem;
  }

  .downPagebox {
    top: 33%;
  }
}

@media all and (max-width: 27.25em) {
  .downPagebox {
    top: 28%;
  }
}

@media all and (max-width: 23.625em) {
  .innovateWrapper {
    margin-bottom: -55rem;
  }

  .innovateText {
    font-size: 1rem;
    top: 8rem;
    left: 9rem;
    line-height: 1.5rem;
  }

  .innovateTextName {
    top: 13rem;
    left: 5rem;
  }

  .downPagebox {
    top: 25%;
  }
}

@media all and (max-width: 20em) {
  .downPagebox {
    top: 21%;
  }
}
