.reportHeadersm {
  width: 10.2rem;
  height: 2.3rem;
  border-radius: 1rem;
  background-color: #42ba9628;
  font-size: 1.2rem;
  line-height: 1.4rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #42ba96;
  opacity: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
}
