.enterpriseWrapper {
  font-family: "grotesk-light", sans-serif;
  display: flex;

  position: relative;
}

.enterpriseReportBox {
  margin-left: 20rem;
  margin-right: 12.3rem;
  margin-top: 6rem;
}

.reportHeaderlg {
  font-size: 3.1rem;
  line-height: 4.1rem;
  letter-spacing: -0.01em;
  color: #161b2d;
  margin-bottom: 2.5rem;
  margin-top: 2.4rem;
}

.reportHeaderlgSpan {
  color: #42ba96;
}

.reportHeaderText {
  font-size: 1.9rem;
  line-height: 3rem;
  color: #506690;
  margin-bottom: 2.8rem;
}

.enterpriseLinkBox {
  display: flex;
}

.enterpriseWeb {
  width: 27.7rem;
  height: 5rem;
  font-size: 1.7rem;
  line-height: 2.7rem;
  color: #506690;
  background-color: #50669011;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.enterpriseAction {
  width: 12.9rem;
  height: 5rem;
  background-color: #42ba962d;
  border-radius: 6px;
  font-size: 1.7rem;
  line-height: 2.7rem;
  color: #42ba96;
  display: flex;
  justify-content: center;
  align-items: center;
}

.encyptionWrapper {
  width: 50rem;
  min-height: 45.6rem;
  padding: 1rem;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 24px 64px rgba(22, 27, 45, 0.04);
  border-top: 3px solid #42ba96;
}

.encyptionCentered {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3.8rem;
}

.tibleTextBox {
}

.tibleText1 {
  font-size: 1.7rem;
  line-height: 2.7rem;
  color: #161b2d;
}

.tibleText2 {
  font-size: 1.5rem;
  line-height: 2.3rem;
  color: #6b7c93;
  opacity: 0.8;
}

.tibleIconBox {
  width: 2.7rem;
  height: 2.7rem;
  background-color: #53c2a121;
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.encyptionBorderBox {
  display: flex;
  justify-content: center;
  margin-top: 2.8rem;
  margin-bottom: 2.6rem;
}

.encyptionBorder {
  border: 0.940422px solid #eff1f7;
  width: 85%;
}

.enterpriseSpan {
  position: absolute;
  bottom: -3.5rem;
  right: 25rem;

  font-size: 1.5rem;
  line-height: 2.3rem;
  color: #abbcd5;
}

@media all and (max-width: 1220px) {
  .enterpriseWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .enterpriseReportBox {
    margin-bottom: 4rem;
  }
}
