@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&family=Space+Grotesk:wght@300&display=swap");

.headerWrapper {
  max-width: 100%;
  height: 62.43rem;

  background-color: #fff;
  background-size: cover;
  font-family: "grotesk", sans-serif;
  position: relative;
}

.texBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.headerTextL {
  font-size: 6.1rem;
  line-height: 7rem;
  letter-spacing: -0.01em;
  color: #fff;
  margin-bottom: 1.7rem;
}

.headerTextSm {
  font-size: 2.1rem;
  line-height: 3.3rem;
  color: #fff;
  opacity: 0.75;
  text-align: center;
}

.btnBox {
  text-align: center;
  margin-top: 1.8rem;
}

.headerBtn {
  width: 18.8rem;
  height: 5rem;
  background-color: #fff;
  border-radius: 6px;
  border: none;
  color: #335eea;
  font-family: "Rubik", sans-serif;
  cursor: pointer;
}

.downPagebox {
  background-color: #fff;
  font-size: 1.5rem;
  color: #2856ed;
  border-radius: 5rem;
  width: 5rem;
  height: 5rem;
  box-shadow: 0px 8px 24px rgba(22, 27, 45, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  position: absolute;
  top: 190%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.arrow-down {
  font-size: 5rem;
}

/***********************MEDIA QUERY******************************/

@media all and (max-width: 78.125em) {
  .texBox {
    width: 100%;
  }
  .headerTextL {
    display: flex;
    justify-content: center;
  }
}

@media all and (max-width: 40.625em) {
  .headerWrapper {
    width: auto;
    margin: 0 auto;
  }

  .headerTextL {
    font-size: 3.5rem;
  }

  .headerTextSm {
    font-size: 1.5rem;
  }
}

@media all and (max-width: 32.625em) {
  .headerWrapper {
    max-width: 100%;
    margin: 0 auto;
    background-size: cover;
    background-position: 100%;
  }
}

@media all and (max-width: 22.5em) {
  .headerTextL {
    font-size: 2rem;
  }

  .headerTextSm {
    font-size: 1.3rem;
  }
}

@media all and (max-width: 19.25em) {
  .headerWrapper {
    overflow: hidden;
    width: auto;
    border: none;
    margin: 0 auto;
  }
  .headerTextL {
    font-size: 2rem;
  }

  .headerTextSm {
    font-size: 1rem;
    line-height: 2rem;
  }

  .downPagebox {
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
